<footer class="newsletter">
  <section class="newsletter-subscription">
    <div>
      <h2 class="newsletter-subscription__title">Newsletter</h2>
      <p class="newsletter-subscription__description">
        To recieve tips on how to grow your community, sign up to our weekly
        newsletter. We’ll never send you spam or pass on your email address
      </p>
      <form class="newsletter-subscription__form" action="#">
        <input class="newsletter-subscription__input" type="text" />
      </form>
    </div>
    <div class="newsletter-subscription__submit-container">
      <input
        class="newsletter-subscription__submit"
        type="submit"
        value="Suscribirse"
      />
    </div>
  </section>

  <section class="newsletter-contact">
    <p class="newsletter-contact__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nulla
      quam, hendrerit lacinia vestibulum a, ultrices quis sem.
    </p>
    <div class="newsletter-contact__phone-container">
      <a class="newsletter-contact__anchor" href="#">Phone: +1-543-123-4567</a>
    </div>
    <div class="newsletter-contact__email-container">
      <img src="./images/icon-email.svg" alt="email" />
      <a class="newsletter-contact__anchor" href="mailto:example@huddle.com"
        >example@huddle.com</a
      >
    </div>
    <div class="newsletter-contact__social-container">
      <i class="fa-brands fa-square-facebook fa-xl"></i>
      <i class="fa-brands fa-instagram fa-xl"></i>
      <i class="fa-brands fa-square-twitter fa-xl"></i>
    </div>
  </section>
</footer>
