<main class="main-container">
  <nav class="navbar">
    <div class="text-2xl text-emerald-700">
      Conciencia Ambiental, Comunidad Unida
    </div>
    <div class="flex gap-10">
      <div class="flex justify-around items-center">
        <ul class="flex gap-5">
          <li class="inline-block mx-2">
            <a href="#">Mis Artículos</a>
          </li>
          <li class="inline-block mx-2">
            <a href="#">Web Blog</a>
          </li>
          <li class="inline-block mx-2">
            <a href="#">Notificaciones</a>
          </li>
          <li class="inline-block mx-2">
            <a href="#">Mi perfil</a>
          </li>
        </ul>
      </div>
      <div class="w-[100px]">
        <button
          class="bg-emerald-600 p-[8px] text-white text-sm rounded-md w-full"
        >
          <a href="#">Ingresar</a>
        </button>
      </div>
    </div>
  </nav>

  <header class="header">
    <section class="flex flex-col justify-around items-center h-10 mt-[220px]">
      <span class="text-5xl max-w-[800px] text-center font-semibold"
        >¿Cuáles son los grandes retos ambientales que enfrentará Colombia este
        2024?</span
      >
      <div class="w-[250px] h-12">
        <button
          class="bg-emerald-600 p-[8px] text-white text-sm rounded-md w-full h-full mt-20"
        >
          <a href="#">Ingresa al Portal Web</a>
        </button>
      </div>
    </section>
  </header>

  <section class="section-your-users">
    <article class="grid grid-cols-2">
      <div class="w-[400px] contain-size">
        <img src="../../../assets/Article1.jpeg" alt="article1" />
        <span class="text-xs text-gray-500"
          >David Cooper, secretario ejecutivo de la Conferencia de las Partes de
          Biodiversidad de la ONU y la ministra de Ambiente y Desarrollo
          Sostenible, Susana Muhamad. FOTO:Minambiente</span
        >
      </div>
    </article>

    <article class="grid grid-cols-2">
      <div class="w-[400px] contain-size">
        <img src="../../../assets/Article1.jpeg" alt="article1" />
        <span class="text-xs text-gray-500"
          >David Cooper, secretario ejecutivo de la Conferencia de las Partes de
          Biodiversidad de la ONU y la ministra de Ambiente y Desarrollo
          Sostenible, Susana Muhamad. FOTO:Minambiente</span
        >
      </div>
    </article>
  </section>
</main>
